{% extends 'lbs2/layout.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}
    Home
{% endblock %}

{% block content %}

    <!-- Auth user block -->
    {% if user.is_authenticated %}
        <div id="map" class="map"></div>

        <div id="popup"></div>

        <!-- sidebar -->
        {% include 'lbs2/partials/sidebar.html' %}

        <div class="mini-submenu mini-submenu-left pull-left">
            <i class="fa fa-list-alt"></i>
        </div>


    {% else %}
        <!-- No auth user block -->
        <div class="starter-template">
            <p class="lead animated zoomIn">
                <h2 class="main-greet animated fadeInUp">


                        {% trans "Welcome" %}!<br>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 animated fadeInUp">
                            <a href="{% url 'register' %}">{% trans "Sign Up" %}</a> or
                            <a href="{% url 'login' %}"> {% trans "Sign In" %}</a> on web site.
                        </div>
                    {% endif %}
                </h2>
            </p>
        </div>

{% endblock %}